<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Banbon Shop</title>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <script src="https://kit.fontawesome.com/43b0b97ee7.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/icon" href="/css/favicon.ico"/>
  <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <header>
    <!-- the nav bar here -->
    <nav class="navbar navbar-default  container navbar-fixed-top shadow-sm">
      <a class="navbar-brand Disabled" href="/"> Banbon Shop</a>
      <div>
        <div class="nav-item">
          <a class="" href="/home">الصفحة الرئسية </a>
          <a  href="/order">أطلب</a>
          <a class="" href="/login">تسجيل دخول</a>
        </div>
      </div>
    </nav>
    <!-- End of the navbar -->
  </header>


<body>
