
<%- include("partials/header"); -%>

<body class=" background">
  <div class="container">
    <h1 class="first-page"> اطلب وبصلك  لحدي مكانك</h1>
  </div>
  <div class="center">
    <a href="/order"><button class="btn btn-size btn-forder " name="button">اطلب</button></a>
    <a href="/home"><button  class="btn btn-size btn-outline" name="button">المنتجات</button></a>
  </div>
</body>
